<h1 class="level">Level 3: The end of the savanna</h1>

<br>

<div id="columns">
	<div class="column" ></div>
	<div class="column" ></div>
	<div class="column" ></div>
    <div class="column" ></div>
    <div class="column" ></div>
    <div class="column" ></div>
</div>

<br>

<div id="animals">
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level3[0].url %>'/><%= @level3[0].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level3[1].url %>'/><%= @level3[1].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level3[2].url %>'/><%= @level3[2].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level3[3].url %>'/><%= @level3[3].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level3[4].url %>'/><%= @level3[4].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level3[5].url %>'/><%= @level3[5].animal_type %></div>
</div>