<h1 class="level">Level 1: Start your adventure</h1>

<br>

<div id="columns">
	<div class="column" ></div>
	<div class="column" ></div>
	<div class="column" ></div>
    <div class="column" ></div>
</div>

<br>

<div id="animals">
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level1[0].url %>'/><%= @level1[0].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level1[1].url %>'/><%= @level1[1].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level1[2].url %>'/><%= @level1[2].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level1[3].url %>'/><%= @level1[3].animal_type %></div>
</div>

<body>
<!-- <div id="button"><%= button_to "Play", { :controller => "completeds", :action => "play"} %></div> -->
<button id="button">Play</button>
<!-- <div id="1" ondrop="drop(event)" ondragover="allowDrop(event)"></div> -->

<!-- <img id="sol1" src="img_logo.gif" draggable="true"
ondragstart="drag(event)" width="336" height="69">
 -->
</body>
