<h1 class="level">Level 2: Your adventure have to continue</h1>

<br>

<div id="columns">
	<div class="column" ></div>
	<div class="column" ></div>
	<div class="column" ></div>
    <div class="column" ></div>
    <div class="column" ></div>
</div>

<br>

<div id="animals">
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level2[0].url %>'/><%= @level2[0].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level2[1].url %>'/><%= @level2[1].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level2[2].url %>'/><%= @level2[2].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level2[3].url %>'/><%= @level2[3].animal_type %></div>
	<div class = 'animal' draggable="true"><img height= "150px" width= "150px" src='<%= @level2[4].url %>'/><%= @level2[4].animal_type %></div>
</div>